# gems
*.gem
/Gemfile.lock
*.gemfile.lock
/gems/

# local gem package folder
/pkg/

# tests / test coverage
.jekyll-cache/
/coverage

# bundler
/.bundle/
/vendor/bundle/
/gemfiles/.bundle/
/gemfiles/vendor/bundle/

# unsorted
