name: CI
on: [push]
jobs:
  build:
    strategy:
      matrix:
        ruby: [2.4, 2.5, 2.6, 2.7]
        gemfile:
        - gemfiles/jekyll_4.0.gemfile
        - gemfiles/jekyll_3.8.gemfile
        - gemfiles/jekyll_3.7.gemfile
        exclude:
        - ruby: 2.4
          gemfile: gemfiles/jekyll_4.0.gemfile
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby ${{ matrix.ruby }}
      uses: eregon/use-ruby-action@master
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: bundle install
      run: |
        gem install bundler
        bundle install --jobs 4 --retry 3
    - name: Run Test
      run: bundle exec rake
