name: RuboCop
on: [push]
jobs:
  build:
    strategy:
      matrix:
        ruby: [2.6]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby ${{ matrix.ruby }}
      uses: eregon/use-ruby-action@master
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: bundle install
      run: bundle install --jobs 4 --retry 3
    - name: Run RuboCop
      run: bundle exec rubocop
