name: RuboCop
on: [push, pull_request]
jobs:
  build:
    strategy:
      matrix:
        ruby: [3.0]
    runs-on: ubuntu-latest
    name: rubocop
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run RuboCop
        run: bundle exec rubocop
